/*universal selector*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*Default for webpage*/
body {
    background-color: #d9dcd6;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

/*apply styles to header*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/*apply styles to Horiseon top left header*/
header h1 {
    display: inline;
    font-size: 48px;
    margin: 0;
}

/*apply color change to 'seo'*/
header h1 .seo {
    color: #d9dcd6;
}

/*pushes nav bar to the right*/
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

/*makes nav bar items sit side by side*/
header nav ul li {
    display: inline;
    margin-left: 25px;
}

/*removes links from anchor elements (underline)*/
a {
    color: #ffffff;
    text-decoration: none;
}

/*sets all paragraph font size and color*/
p {
    font-size: 16px;
    color: #ffffff;
}

/*background image fits the screen*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*puts image on left-hand side of SEO and SMM content block*/
.float-left {
    float: left;
    margin-right: 25px;
}

/*puts image on right-hand side of online reptutation management content block*/
.float-right {
    float: right;
    margin-left: 25px;
}

/*allows content section to be next to benefits section*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*reduced redundancy around content images*/
.content img {
    max-height: 200px;
}

/*reduced redundancy around content heading 2*/
.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*reduced redundancy around .content class sections*/
.search-engine-optimization, .online-reputation-management, .social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 80%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    color: #ffffff;
}

/*sets margin for all benefit classes*/
.benefit-lead, .benefit-brand, .benefit-cost {
    margin-bottom: 32px;
}

/*styling all h3 elements within benefits class*/
.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*styling all .benefits imgs at once*/ 
.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
    color: #ffffff;
}

